<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bulma.css">
        <title>AMOCR</title>
    </head>

    <body>
        <nav class="navbar is-info" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="amocrNav" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="amocrNav" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/read-image" class="navbar-item">
                        Read image folder    
                    </a>
                    <a href="/results" class="navbar-item">
                        View OCR results    
                    </a>
                </div>
            </div>
            <div class="navbar-end">
            </div>
        </nav>

        <main>
            {{{body}}}
        </main>

    </body>
</html>