
<body>
    <div class="container is-fluid">
        <h1 class="is-size-1">AMOCR</h1>
        <p>Use the navigation menu at the top to access either the Library or Employee pages.</p>
    </div>
</body>